/* product card primary */

.product_card-primary_swiper {
    width: 100% !important;
}

.product_card-primary_swiper .swiper-slide_styled {
    height: 180px !important;
    border: none;
}

.product_card-primary_swiper .swiper-slide_styled img {
    height: 100% !important;
    object-fit: contain !important;
    /* background-color: white; */
}

.swiper-pagination-bullet-active {
    background-color: var(--green-color) !important;
}
